:root {
	--color-white: #F9FAFB;
	--color-white100: #F2F2F2;
	--color-white200: #d8d9db;
	--color-gray50: #E2E2E2;
	--color-gray60: #999999;
	--color-gray70: #8f8f8f;
	--color-gray90: #444444;
	--color-gray100: #424242;
	--color-gray200: #333333;
	--color-gray300: #20242F;
	--color-gray400: #202327;
	--color-brown: #9f887e;
	--color-brown100: #82614F;
	--color-brown150: #765447;
	--color-brown200: #644331;
	--color-brown300: #462f23;
	--color-green: #3b6061;

	--container: 1300px;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	overflow-x: hidden;
	font-family: 'Montserrat';
}

.container {
	width: 100vw;
	padding-left: calc(50vw - var(--container)/2);
	padding-right: calc(50vw - var(--container)/2);
}

.title {
	position: relative;
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--color-gray100);
}

.title::before {
	content: '';
	position: absolute;
	top: 200%;
	left: 0;
	height: 3px;
	width: 100px;
	border-radius: 3px;
	background-color: var(--color-brown);
}

.title_center {
	text-align: center;
}

.title_center.title::before {
	left: calc(50% - 50px);
}

.subtitle {
	font-size: 1.75rem;
	font-weight: 500;
	color: var(--color-gray100);
}

.text {
	font-size: 1rem;
	color: var(--color-gray100);
	font-weight: 400;
	font-style: normal;
}

.button {
	padding: 14px 24px; 
	background-color: var(--color-brown200);
	color: var(--color-white);
	font-size: 1rem;
	border-radius: .25rem;
	border: 2px solid var(--color-brown200);
	transition: .2s;
}

.button:hover {
	background-color: var(--color-brown300);
	border: 2px solid var(--color-brown300);
}

.button:focus {
	color: var(--color-brown100);
	background-color: transparent;
}

.button--fixed {
	position: sticky;
    top: 93vh;
    left: 90vw;
    margin: 100px 20px 20px 0;
	border: 2px solid var(--color-brown200);
	background-color: var(--color-brown200);
    z-index: 100;
}

.block_hidden {
	position: absolute;
	top: -800px;
}

.absolute {
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #20242FAA;
	z-index: 1000;
}

.header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 45px;
}

.header--icon {
	max-height: 50px;
}

.header--text {
	justify-self: center;
	max-width: 65%;
}

.header--inner {
	display: grid;
	justify-items: end;
	justify-self: end;
	gap: 10px 0;
}

.header--link {
	position: relative;
	font-size: 1.5rem;
	color: var(--color-gray);
}	

.header--link::before {
	content: '';
	top: 110%;
	left: 0;
	position: absolute;
	height: 3px;
	width: 0%;
	border-radius: 3px;
	background-color: var(--color-brown);
	transition: .2s;
}

.header--link:hover::before {
	width: 100%;
}


.application {
	display: grid;
	grid-auto-flow: row;
	position: relative;
	padding: 35px;
	max-width: 400px;
	background-color: var(--color-gray50);
}

.application--button_close {
	position: absolute;
	top: 20px;
	right: 20px;
	justify-self: end;
	background-color: transparent;
	width: 25px;
	height: 25px;
	font-size: 1.25rem;
}

.application--title {
	font-size: 1.25rem;
	color: var(--color-gray200);
	text-align: center;
	font-weight: 600;
	line-height: 2.25rem;
	margin-bottom: 15px;
}

.application--title_span {
	font-size: 0.85rem;
	font-weight: 400;
}

.application--form {
	display: grid;
	grid-auto-flow: row;
}

.application--description {
	font-size: 1rem;
	color: var(--color-gray300);
}

.application--input {
	margin: 12px 0 25px 0;
	padding: 12px;
	font-size: 1rem;
	width: 100%;
	border-radius: .25rem;
	background-color: var(--color-white);
	border: 2px solid transparent;
	transition: .2s;
}

.application--input:focus {
	border: 2px solid var(--color-gray70);
}

/* .application--fildset {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	margin-bottom: 20px;
}

.application--lable {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.application--lable .active--telegram {
	fill: #039be5;
}

.application--lable .active--whatsapp {
	fill: #7AD06D;
}

.application--lable .active--telephone {
	fill: #700000;
}

.application--icon:focus{
	fill: green;
}

.application--input-choise {
	position: absolute;
	z-index: -23; 
}

.application--icon {
	width: 40px;
	height: 40px;
	transition: .2s;
} */

.application--button {
	font-size: 1.125rem;
}

.application--peronal-data {
	margin: 16px 0;
	font-size: .75rem;
	color: var(--color-gray200);
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--color-gray400);
}

.footer__box {
	display: grid;
	gap: 40px 0;
}

.footer__logo {
	max-height: 100px;
	align-self: center;
}

.footer__contacts {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	justify-self: center;
	align-items: center;
	gap: 0 40px;
}

.footer__icon {
	fill: white;
	height: 40px;
	width: 40px;
	transition: .1s;
}

.tg:hover {
	fill: #039be5;
}

.vk:hover {
	fill: #2787f5;
}

.wa:hover {
	fill: #7AD06D;
}

.tel:hover {
	fill: #700000;
}

.footer__nav {
	display: grid;
	grid-auto-flow: column;
	justify-self: end;
	height: 100%;
	width: auto;
}

.footer__list {
	display: grid;
}

.footer__titles {
	font-size: 1.5rem;
	color: white;
}

.footer__link {
	display: inline-block;
	transition: .2s;
}

.footer__text {
	color: white;
	font-size: 1rem;
}

.footer__link:hover .footer__text {
	color: var(--color-brown100)
}