:root {
	--color-white: #F9FAFB;
	--color-gray50: #E2E2E2;
	--color-gray70: #8f8f8f;
	--color-gray100: #424242;
	--color-gray200: #333333;
	--color-gray300: #20242F;
	--color-brown: #9f887e;
	--color-brown100: #82614F;
	--color-brown200: #644331;
	--color-brown300: #462f23;

	--container: 1300px;
}

html {
	font-size: 16px;
}

body {
	overflow-x: hidden;
	font-family: 'Montserrat';
}

.container {
	width: 100vw;
	padding-left: calc(50vw - var(--container)/2);
	padding-right: calc(50vw - var(--container)/2);
}

.text {
	font-size: 1rem;
	color: var(--color-gray100);
	font-weight: 300;
	font-style: normal;
}

.button {
	padding: 14px 24px; 
	background-color: var(--color-brown200);
	color: var(--color-white);
	font-size: 1rem;
	border-radius: .25rem;
	border: 2px solid var(--color-brown200);
	transition: .2s;
}

.button:hover {
	background-color: var(--color-brown300);
	border: 2px solid var(--color-brown300);
}

.button:focus {
	color: var(--color-brown100);
	background-color: transparent;
}

.header-fix {
	background-color: white;
	box-shadow: 0 1px 4px 0 #ccc;
    padding-top: 7px;
    padding-bottom: 7px;
    position: fixed;
    top: 0px;
	left: 0;
	width: 100vw;
    z-index: 101;
}

.header-fix--nav {
	display: grid;
	width: 100%;
}

.header-fix--wrapper {
	display: grid;
	grid-auto-flow: column;
	justify-self: center;
	gap: 0 26px;
	max-width: 800px;
}

.header-fix--text {
	font-size: 1.125rem;
	color: var(--color-gray200);
	text-align: center;
	font-weight: 300;
}

.application {
	display: grid;
	grid-auto-flow: row;
	padding: 35px;
	max-width: 400px;
	background-color: var(--color-gray50);
}

.application--title {
	font-size: 1.25rem;
	color: var(--color-gray200);
	text-align: center;
	font-weight: 600;
	line-height: 2.25rem;
	margin-bottom: 15px;
}

.application--title_span {
	font-size: 0.85rem;
	font-weight: 400;
}

.application--form {
	display: grid;
	grid-auto-flow: row;
}

.application--description {
	font-size: 1rem;
	color: var(--color-gray300);
}

.application--input {
	margin: 12px 0 25px 0;
	padding: 12px;
	font-size: 1rem;
	border-radius: .25rem;
	background-color: var(--color-white);
	border: 2px solid transparent;
	transition: .2s;
}

.application--input:focus {
	border: 2px solid var(--color-gray70);
}

.application--fildset {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	margin-bottom: 20px;
}

.application--button {
	font-size: 1.125rem;
}

.application--peronal-data {
	margin: 16px 0;
	font-size: .75rem;
	color: var(--color-gray200);
}

.application--input-choise {
	position: absolute;
	z-index: -23;
}

.application--lable {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}

.application__icon {
	width: 40px;
	height: 40px;

}

.application--lable:hover {
	fill: var(--color-brown100);
}

.application__icon:focus{
	fill: green;
}




.application--link {
}