.header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	margin-top: 36px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header--logo {
}

.header--icon {
	max-height: 50px;
}

.header--text {
	justify-self: center;
	max-width: 65%;
}

.header--inner {
	display: grid;
	justify-items: end;
	justify-self: end;
	gap: 10px 0;
}

.header--adress {
}

.header--link {
	position: relative;
	font-size: 1.5rem;
	color: var(--color-gray);
}

.header--link::before {
	content: '';
	top: 110%;
	left: 0;
	position: absolute;
	height: 3px;
	width: 0%;
	border-radius: 3px;
	background-color: var(--color-brown);
	transition: .2s;
}

.header--link:hover::before {
	width: 100%;
}

.hero {
	position: relative;
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	height: 75vh;
}

.hero--background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 75vh;
	z-index: -1;
}

.hero--image {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -2;
}

.hero--filter {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #180d089a;
}

.hero--wrapper {

}

.hero--title {
	font-weight: 500;
	font-size: 54px;
	color: #D3D3D3;
}

.hero--description {
	display: grid;
	gap: 25px 0;
	margin-top: 40px;
}

.hero--item {
}

.hero--text {
	font-size: 24px;
	color: #D3D3D3;
}

.hero--application {
}

