.header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	margin-top: 36px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header--icon {
	max-height: 50px;
}

.header--text {
	justify-self: center;
	max-width: 65%;
}

.header--inner {
	display: grid;
	justify-items: end;
	justify-self: end;
	gap: 10px 0;
}

.header--link {
	position: relative;
	font-size: 1.5rem;
	color: var(--color-gray);
}	

.header--link::before {
	content: '';
	top: 110%;
	left: 0;
	position: absolute;
	height: 3px;
	width: 0%;
	border-radius: 3px;
	background-color: var(--color-brown);
	transition: .2s;
}

.header--link:hover::before {
	width: 100%;
}

.hero {
	position: relative;
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	height: 75vh;
}

.hero--background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 75vh;
	z-index: -1;
}

.hero--image {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -2;
}

.hero--filter {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #180d089a;
}

.hero--title {
	font-weight: 500;
	font-size: 54px;
	color: #D3D3D3;
}

.hero--description {
	display: grid;
	gap: 40px 0;
	margin-top: 40px;
}

.hero--text {
	font-size: 24px;
	color: #D3D3D3;
}

.service {

	padding-bottom: 80px;
}

.service--title {
	position: relative;
}

.services--wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 80px;
	margin-top: 128px;
}

.services--card {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-self: center;
	max-width: 550px;
}

.services--image {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.services--inner {
	display: grid;
	gap: 20px;
	padding: 25px 36px;
	background-color: var(--color-white100);
}

.services--naming {
	text-align: center;
}

.services--description {
	font-size: 1rem;
	color: var(--color-gray100);
	line-height: 2rem;
	text-align: center;
}

.services--button {
	align-self: end;
	height: 50px;
}

.advantages {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--color-white200);
}

.advantages--wrapper {
	margin-top: 80px;
}

.advantages--description {
	text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
}

.advantages--list {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr;
	gap: 50px;
	margin-top: 60px;
}

.advantages__icon {
	height: 74px;
	widows: 74px;
	fill: var(--color-brown150);
	margin: 30px 0 40px 0;
}

.advantages--item {
	display: grid;
	justify-items: center;
	width: 100%;
	padding: 28px 28px;
	background-color: #fff;
}

.advantages--name {
	text-align: center;
}

.advantages--text {
	text-align: center;
	font-size: 1rem;
	color: var(--color-gray100);
	font-weight: 400;
	line-height: 2rem;

}