.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	width: 100vw;
	height: 90vh;
}

.hero__background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #00000080;
}

.hero__image {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -2;
}

.hero__wrapper {
	position: relative;
	display: grid;
	gap: 30px 0;
	align-self: center;
	justify-self: end;
	justify-items: start;
	z-index: 1;
}

.hero__title {
	font-family: "Roboto";
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 500;
	color: white;
}

.hero__span {
	color: var(--color-yellow)
}

.hero__text {
	font-family: "Roboto";
	font-size: 1.125rem;
	color: white;
	font-weight: 300;
}

.hero__button {
}

.advantages {

}

.advantages__title {
	text-align: center;
	color: var(--color-gold200);
}

.advantages__subtitle {
	font-weight: 500;
	font-size: 1.25rem;
	color: black;
	margin-top: 30px;
	text-align: center;
}

.advantages__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 40px;
	margin-top: 100px;
}

.advantages__wrapper_work {
	grid-template-columns: repeat(2, 1fr);
}

.advantages__wrapper_work .advantages__item {
	max-width: 450px;
	justify-self: center;
}

.advantages__item {
	display: grid;
	grid-template-rows: 60px auto 1fr;
	justify-items: center;
	align-items: start;
	gap: 20px 0;
}

.advantages__image {
	height: 60px;
}

.advantages__card-titel {
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--color-gold200);
}

.advantages__card-text {
	text-align: center;
}
