/* Roboto */
@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Thin.woff");
	font-style: normal;
	font-weight: 100;
  }

@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Light.woff");
	font-style: normal;
	font-weight: 300;
  }

@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Regular.woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Medium.woff");
	font-style: normal;
	font-weight: 500;
  }

@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Bold.woff");
	font-style: normal;
	font-weight: 700;
  }

@font-face {
	font-family: 'Roboto';
	src: url("roboto/Roboto-Black.woff");
	font-style: normal;
	font-weight: 900;
  }


/* Lato */
@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Hairline.woff");
	font-style: normal;
	font-weight: 100;
  }

@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Thin.woff");
	font-style: normal;
	font-weight: 200;
  }

@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Light.woff");
	font-style: normal;
	font-weight: 300;
  }

@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Regular.woff");
	font-style: normal;
	font-weight: 400;
  }

@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Medium.woff");
	font-style: normal;
	font-weight: 500;
  }

@font-face {
	font-family: 'Lato';
	src: url("lato/Lato-Heavy.woff");
	font-style: normal;
	font-weight: 600;
  }

  /* Arial */
  @font-face {
	font-family: 'Arial';
	src: url("lato/arial/ArialRegular.woff");
	font-style: normal;
	font-weight: 400;
  }

  @font-face {
	font-family: 'Arial';
	src: url("lato/arial/ArialBold.woff");
	font-style: normal;
	font-weight: 700;
  }

@font-face {
	font-family: 'Arial';
	src: url("lato/arial/ArialBlack.woff");
	font-style: normal;
	font-weight: 900;
  }

  /* montserrat */
@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Thin.woff");
	font-style: normal;
	font-weight: 100;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-ExtraLight.woff");
	font-style: normal;
	font-weight: 200;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Light.woff");
	font-style: normal;
	font-weight: 300;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Regular.woff");
	font-style: normal;
	font-weight: 400;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Medium.woff");
	font-style: normal;
	font-weight: 500;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-SemiBold.woff");
	font-style: normal;
	font-weight: 600;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Bold.woff");
	font-style: normal;
	font-weight: 700;
  }
@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-ExtraBold.woff");
	font-style: normal;
	font-weight: 800;
  }

@font-face {
	font-family: 'Montserrat';
	src: url("montserrat/Montserrat-Black.woff");
	font-style: normal;
	font-weight: 900;
  }
